<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

 
  <title> calmandcode </title>
  <link rel="stylesheet" type="text/css" href="../css/loginbootstrap.css" />

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <!-- Custom styles for this template -->
 <!-- <link href="../css/style.css" rel="stylesheet" /> -->
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<body>
<div class="popup-wrapper">
  <div id="popup-container">
      <h5 style="text-align: center;" >Create account</h5>

  <form class="form-signin" id="myform" action="" method="post" 
   >
    <div class="input">
      <input  type="hidden" name="userlogin" class="user-set-passw form-control" placeholder="Username" value="<%= email %>" ></input>
    </div>
    <div class="input">
      <input type="password" name="passwordlogin" class="new_pss form-control" placeholder="Password"></input>
    </div>
    <div class="input">
      <input type="password" name="passwordconfirm" class="new_pss_rpt form-control" placeholder="Repeat Password" required></input>
    </div>
      <!--<p style="font-size:11px;   " >
    &nbspAlready have account <a id="login" >select to Login</a> or <a id="reset" > &nbspreset&nbsppassword</a>
  </p> -->


 
  <div class="modal-footer">
    <button class="btn btn-primary btn-block" style="background: #007bff !important;" >Reset password</button>    
  
<!--     <p><a herf="" onclick="toggle_visibility('contact-popup');">Close Popup</a></p>
 -->
 &nbsp Please <a id="loginreset" onclick='
  $(".new_pss").addClass("open");
  $(".user").addClass("open");
  $(".new_pss_rpt").addClass("open");
  document.getElementsByClassName("new_pss_rpt")[0].placeholder = "Password";
  $(".new_pss_rpt").attr("name", "passwordlogin");
  $(".btn-primary").text( "Login");   $(".user-set-passw").attr("type", "text"); document.querySelector(".form-signin").action = "/login";
'>select to Login</a>
</div>
<%if(msg ){ %>
<div class="alert alert-success" role="alert" id="loginasdAlert">
  <p style="text-align: center;"> <%= msg %>
  </p>
</div>
<%} %>
</form>


  </div>
  </div>
  <!-- <script src="../js/loginbootstrap.js"></script> -->

</body>
  </head></html>